<!DOCTYPE html>
<html lang="en">
<head>
    <title>jQuery lesson</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/jquery-3.6.1.js"></script>
    <script src="/js/Attributes-and-style-modifications.js"></script>

    <style>
        .pokemonImage {
            width: 300px;
        }
    </style>
</head>

<body>
<div id="example">
    <a><img src="https://cdn.pixabay.com/photo/2018/04/13/16/13/pixel-3316924_960_720.png" alt="Bulbasaur"
            width="235" height="220"></a>
    <a><img src="https://cdn.pixabay.com/photo/2016/09/09/11/59/pokemon-1656997_960_720.png" alt="Pikachu"
            width="240" height="200"></a>
</div>
<button onclick="addTitle()">Add title</button>
<button onclick="removeTitle()">Remove title</button>
<button onclick="toggleClass()">Toggle class</button>
</body>
</html>
