<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/src/static/css/index.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="/src/static/bibliotec/jquery-3.6.1.min.js"></script>


    <!-- <script src="../../static/bibliotec/requirings.js"></script> -->

    <title> JavaScript </title>
</head>

<body>
    <div class="contant" id="content">

        <h1>This is a heading</h1>

        <p>This is a paragraph.</p>
        <p>This is another paragraph.</p>

        <button type="button"> Click me to hide paragraphs</button>

        <div class="btn-group" data-toggle="buttons"><br>

            <label class="btn btn-secondary active">
                <input type="checkbox" name="" id="terms" checked autocomplete="off" placeholder="ok"><br><br>
            </label>


            <label class="btn btn-s">
                <input type="password" name="" id="password1" autocomplete="off" placeholder="ok" required><br><br>
            </label> <label class="btn btn-secondary">
                <input type="password" name="" id="password2" autocomplete="off" placeholder="ok"><br><br>

            </label> <label class="btn btn-secondary">
                <input type="password" name="" id="password3" autocomplete="off" placeholder="ok"><br><br>
            </label> <label class="btn btn-secondary">
                <input type="password" name="" id="password4" autocomplete="off" placeholder="ok"><br><br>
            </label>
        </div>




        <h1> Welcome to GeeksforGeeks !!!</h1>
        <div class="statementClass">
            <p>This is the first statement.</p>
        </div>
        <br>

        <div class="statementClass">
            <p>This is the second statement.</p>
        </div>
        <br>

        <div class="statementClass">
            <p>This is the third statement.</p>
        </div>
        <br>
        <hr>
        <div id="target" class="targeting">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna
            aliqua. Ut enim ad minim veniam, quis nostrud exercitation
            ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor in reprehenderit in voluptate velit
            esse cillum dolore eu fugiat nulla pariatur. Excepteur
            sint occaecat cupidatat non proident, sunt in culpa qui
            officia deserunt mollit anim id est laborum.
          </div>
          <div id="other">
            Trigger the handler
          </div>
          <div id="log"></div>
          <hr>

        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"> </script> -->

        <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js" ></script> -->
        <!-- <script src="/src/static/bibliotec/jquery-3.6.1.min.js"></script> -->
        <!-- <script language="JavaScript" data-main="scripts/main" src="/src/static/js/index.js"></script> -->
        <script type="module" language="JavaScript" src="/src/static/js/elementselector.js"></script>
    </div>
</body>

</html>
<div class="open_grepper_editor" title="Edit & Save To Grepper"></div>