<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <script src="/jquery-3.6.1.js" defer>  </script>
    <script type="text/javascript" src="../ch_1/static/js/animation_intro.js" defer></script>

    <link rel="stylesheet" href="../style.css" />
    <link rel="stylesheet" href="../nav.css">
    <title>Selectors and Filters</title>

</head>

<body>

<!-- 
    <style>

        #testDiv {
            position: relative;
            width: 150px;
            height: 100px;
            margin: 10px;
            padding: 20px;
            background: #b3c8d0;
            border: 1px solid black;
            font-size: 16pt;
            cursor: pointer;
        }
    </style> -->

</head>

    <ul class="navul">
        <li><a class="active" href="../index.html">Home </a></li>
    </ul>



<body>
    <h1>Quick jQuery Animation Intro</h1>
    <div id="content">
        <p>jQuery provides some basic animation features for showing and hiding elements, as well as a low-level animation function
            that can be used to animate several CSS properties (as long as they are numeric).</p>
        <button id="go">Start Animation</button>
        <div id="testDiv"></div>
    </div>
</body>

</html>