<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <script src="/jquery-3.6.1.js" defer>  </script>
    <script type="text/javascript" src="../ch_1/static/js/event_intro.js" defer></script>

    <link rel="stylesheet" href="../style.css" />
    <link rel="stylesheet" href="../nav.css">
    <title>Selectors and Filters</title>

</head>

<body>

    <ul class="navul">
        <li><a class="active" href="../index.html">Home </a></li>
    </ul>


    <body>
        <h1>jQuery Event Handling</h1>
        <div id="content">

            <p>jQuery normalizes an event structure across browsers and provides cross-browser consistency for
                properties such as
                the event name, the page coordinates of the mouse, the element where the event originated along with any
                other
                element related to the event, and information such as whether a meta-key or specific mouse button was
                pressed.</p>
            <div id="example">
            </div>
        </div>
    </body>

</html>